.logo {
  width: 3rem;
}

/*@font-face {
  font-family: "Roboto-reg";
  src: url(/resources/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(/resources/fonts/Roboto-Bold.ttf);
}*/

body {
  font-family: "Roboto", sans-serif;
}

#index {
  background-image: url(/resources/bg/socilink-bg-dark.png);
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
}
