//Overrides

$theme-colors: (
  "primary": #1a3234,
  "danger": #034c4c,
  "warning": #293134,
  "info": #009191,
  "dark": #242424,
  "success": #1ed98b,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

.logo {
  width: 3rem;
}

.icon {
  width: 2rem;
}

.profileImg {
  width: 5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

/* INDEX PAGE */

#index {
  background-image: url(/resources/bg/socilink-bg-dark.png);
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
}

/* PROFILE PAGE */
